@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@keyframes gallery-marquee-full-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.gallery-marquee-full {
  width: max-content;
  animation: gallery-marquee-full-scroll 38s linear infinite;
}

@keyframes logo-marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-marquee {
  width: max-content;
  animation: logo-marquee-scroll 150s linear infinite;
}

@keyframes video-title-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.video-title-marquee {
  width: max-content;
  animation: video-title-scroll 25s linear infinite;
}

@keyframes academic-marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.academic-marquee {
  width: max-content;
  animation: academic-marquee-scroll 30s linear infinite;
}
